body{
    background-image: url("../images/vice_background.jpg");
    background-repeat: repeat;  
}

.gta-head{
    background-color: black;
}  

.glow{
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate; 
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.main-content{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.game-placeholder{
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: purple;
    margin: 10px;
    padding: 20px;
    width: 960px;
    height: 500px;
    position: fixed;
    top: 55%;
    left: 72%; 
    transform: translate(-50%, -50%);
}

#game{
  font-family: 'neon_80sregular';
}

@font-face {
  font-family: 'neon_80sregular';
  src: url("/assets/images/webfontkit-20200225-020337/neon-webfont.woff")
       url('/assets/images/webfontkit-20200225-020337/neon-webfont.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}