body{
    background-image: url("../images/vice_background.jpg");
    background-repeat: repeat;  
}

.gta-head{
    background-color: black;
}  

.glow{
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate; 
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

#start{
  color: purple;
  font-family: 'neon_80sregular';
  background-color: teal;
  font-weight: bold;
  border-color: purple;
  font-size: 40px;
  padding: 10px;
}

.main-content{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-placeholder{
    background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: purple;
    padding: 20px;
    width: 1000px;
    height: 500px;
    position: fixed;
    top: 55%;
    left: 72%; 
    transform: translate(-50%, -50%);
    text-align: center;
}

.score{
  background-color: black;
    border-style: solid;
    border-width: 3px;
    border-color: purple;
    width: 500px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    left: 30px;
}

#score{
  font-family: 'neon_80sregular';
  color: teal;
  font-size: 35px;
  font-weight: bold;
}

#wins{
  font-family: 'neon_80sregular';
  color: purple;
  font-size: 30px;
}

#losses{
  font-family: 'neon_80sregular';
  color: purple;
  font-size: 30px;
}

#remainingGuesses{
  font-family: 'neon_80sregular';
  color: purple;
  font-size: 30px;
}

#mistakesMade{
  font-family: 'neon_80sregular';
  color: purple;
  font-size: 30px;
}

@font-face {
  font-family: 'neon_80sregular';
  font-weight: normal;
  font-style: normal;
  src: url('../images/webfontkit-20200225-020337/neon-webfont.woff'),
       url('../images/webfontkit-20200225-020337/neon-webfont.woff2') format('woff');
}

#game{
  color: purple;
  font-family: 'neon_80sregular';
  font-size: 40px;
  display: inline-block;
  margin: 100px auto;
}

.jeopardy{
  font-family: 'neon_80sregular';
  color: purple;
  font-size: 40px;
}

.word{
  display: flex;
  font-family: 'neon_80sregular';
  color: purple;
  font-size: 40px;
  justify-content: space-evenly;
}


